.heading{
  font-family:Verdana;
  font-size: 14px;
  font-weight: bold;
  
}
.logo{
  color: MediumAquamarine;
}

.nav{
  display: inline-block;
}

.column{
  border:2px solid black
}

.large{
  border:2px solid black;
  width: 630px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fish{
  border: 2px solid black;
}

.az{
  border:2px solid black;
}

.orca{
  border: 2px solid black;
}

.earth{
  border: 2px solid black;
}

.burger{
  border: 2px solid black;
}

.photo{
  border: 2px solid black;
}

