body{
  font-family:Georgia;
  font-size:17px;
  color:black;
}

header{
  font-family:Verdana;
  font-size: 14px;
  font-weight: bold;
  display:flex;
  position:fixed;
  align-items: center;
  z-indez:10;
  height:80px;
  border-bottom:1px solid black;
  width:100%;
  background-color:white;
}
.logo{
  color: MediumAquamarine;
  display:flex;
  align-items:center;
  flex-grow:1;
  padding-left:30px;
}

header .nav{
  padding-right:40px;
}
  

.nav span{
  display:inline-block;
  padding: 20px 10px;
}
.content{
  display:flex;
  width:1232px;
  margin:0 auto 78px auto;
  padding-top:116px;
}

.column{
  display: flex;
  flex-direction:column;
  margin-right:32px;
}

.column.large{
  width:630px;
}



.fish{
  display: block;
  font-family:Georgia;
  font-weight:bold;
  font-size:40px;
  color:white;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png"
      );
}

.az{
  display:block;
}

.orca{
  display:block;
}

.earth{
  display:block;
  font-family:Georgia;
  font-weight:bold;
  font-size:30px;
  color:white;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png"
      );
}

.burger{
  display:block;
}

.photo{
  display:block;
  font-family:Georgia;
  font-weight:bld;
  font-size:30px;
  color:white;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png"
      );
}

.column.medium{
  display: flex;
  flex-direction: column;
  width:240px;
}

.medium{

}

.fbi{
}

.cats{
  font-family:Georgia;
  font-weight:bold;
  font-size:30px;
  color:white;
  background-image:
    url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png"
      );
}

.ny{
}

.column.small{
  display:flex;
  width:240px;
  flex-direction:column;
}

.small{
}

.cookphoto{
  
}

.last{
}



