.heading{
  font-family:Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo{
  color: MediumAquamarine;
}

.nav{
}

.column{
  border:2px solid black
}

.large{
  border:2px solid black;
  width: 630px;
}

.fish{
  border: 2px solid black;
}

.az{
  border:2px solid black;
}

.orca{
  border: 2px solid black;
}

.earth{
  border: 2px solid black;
}

.burger{
  border: 2px solid black;
}

.photo{
  border: 2px solid black;
}

